{% extends "templates/base.html" %}


{% block title %}{{ title or _("Payment") }}{% endblock %}
{% block navbar %}{% endblock %}

{%- block head_include %}
<style>	{% include "templates/styles/card_style.css" %}</style>
{% if button_selected %}
	{{ gateway_css }}
{% endif %}
{% endblock -%}

{%- block content -%}
<div class='page-card'>
	<h5 class='page-card-head text-center'>
		<span class='indicator {{ indicator_color or "blue" }}'>
			{{ tx_data.get("reference_docname") }}</span>
	</h5>
	<div class="page-card-body">
		{% block reference_body %}
			{% set payer = tx_data.get("payer_contact") %}
			<p class="text-center">
				{{ _("Amount") }}:&emsp;{{ frappe.utils.fmt_money(tx_data.get("amount"), currency=tx_data.get("currency")) }}</br>
				{{ _("Document") }}:&emsp;{{ tx_data.get("reference_doctype") }}</br>
				{{ _("Customer") }}:&emsp;{{ payer.get("full_name") }}</br>
			</p>
		{% endblock %}
		<div id="errors" class='text-danger text-center small my-3' style='display: none;'></div>
		{% if not button_selected %}
			{% set primary_button = payment_buttons[0] %}
			{% set secondary_buttons = payment_buttons[1:] %}
			<div>
				<div><button id="primary-button" data-button="{{ primary_button[1] }}"
						class='btn btn-primary btn-sm btn-block btn-pay'>{{ primary_button[0] }}&ensp;{{ primary_button[2] }}</button></div>
				{% for secondary_button in secondary_buttons %}
				<div><button  data-button="{{ secondary_button[1] }}"
						class='btn btn-sm btn-block btn-pay'>{{ secondary_button[0] }}&ensp;{{ secondary_button[2] }}</button></div>
				{% endfor %}
			</div>
		{% else %}
			{{ gateway_widget }}
		{% endif %}
	</div>
</div>
{% endblock %}

{% block base_scripts %}
{% if button_selected %}
	{{ gateway_js}}
{% endif %}

<script>
	frappe.boot = {{boot}}
</script>
{{ include_script('website-core.bundle.js') }}
{% endblock %}

{% set web_include_js=[] %}
