{% extends "templates/base.html" %}


{% block title %}{{ title or _("Payment") }}{% endblock %}
{% block navbar %}{% endblock %}

{%- block head_include %}
<style>	{% include "templates/styles/card_style.css" %}</style>
{{ gateway_css or ""}}
{% endblock -%}

{%- block content -%}
<div class='page-card'>
	<h5 class='page-card-head text-center'>
		<span class='indicator {{ indicator_color or "blue" }}'>
			{{ tx_data.get("reference_docname") }}</span>
	</h5>
	<div class="page-card-body">
		{% block reference_body %}
		{% set payer = tx_data.get("payer_contact") %}
		<p class="text-center">
			{{ _("Amount") }}:&emsp;{{ frappe.utils.fmt_money(tx_data.get("amount"), currency=tx_data.get("currency")) }}</br>
			{{ _("Document") }}:&emsp;{{ tx_data.get("reference_doctype") }}</br>
			{{ _("Customer") }}:&emsp;{{ payer.get("full_name") }}</br>
		</p>
		{% set primary_button = payment_buttons[0] %}
		{% set secondary_buttons = payment_buttons[1:] %}
		<div>
			<div><a id="primary-button" href='{{ primary_action or "/" }}' data-gateway="{{ primary_button[1] }}"
					class='btn btn-primary btn-sm btn-block'>{{ primary_button[0] }}&ensp;{{ primary_button[2] }}</a></div>
			{% for secondary_button in secondary_buttons %}
			<div><a href='{{ primary_action or "/" }}' data-gateway="{{ secondary_button[1] }}"
					class='btn btn-sm btn-block'>{{ secondary_button[0] }}&ensp;{{ secondary_button[2] }}</a></div>
			{% endfor %}
		</div>
		{% endblock %}
		{{ gateway_widget or ""}}
	</div>
</div>
{% set error_code="SELECT" %}
{% if error_code %}
<p class='text-muted text-center small' style='margin-top: -20px;'>{{ _("Status: {0}").format(error_code) }}</p>
{% endif %}
{% endblock %}

{% block base_scripts %}
{{ gateway_js or ""}}

<script>
	frappe.boot = {{boot}}
</script>
{{ include_script('website-core.bundle.js') }}
{% endblock %}

{% set web_include_js=[] %}
