{% extends "templates/web.html" %}

{% block title %} Payment {% endblock %}

{%- block header -%}
<link rel="stylesheet" 
  href="{{ static_assets_url }}/js/krypton-client/V4.0/ext/neon-reset.min.css"
>
{% endblock %}

{% block script %}
<script
  src="{{ static_assets_url }}/js/krypton-client/V4.0/stable/kr-payment-form.min.js"
  kr-public-key="{{ kr_public_key }}"
></script>
<script 
  src="{{ static_assets_url }}/js/krypton-client/V4.0/ext/neon.js"
></script>
<script>{% include "templates/includes/payzen_checkout.js" %}</script>
{% endblock %}

{%- block page_content -%}
<div class="wrapper">
	<div class="checkout container">
		<div id="payment-form" class="container">
			<img id="header-img" class="center" src="{{ header_img }}"></img>

			<!-- payment form -->
			<div class="kr-smart-button" kr-payment-method="PSE"></div>
			<div class="kr-smart-button" kr-payment-method="CARDS"></div>
			<div class="kr-smart-form" kr-form-token="{{ client_token }}"></div>
			<!-- error zone -->
			<div class="kr-form-error"></div>
		</div>
	</div>
</div>

<style>

.kr-smart-button {
	margin-left: auto;
	margin-right: auto;
}

.kr-form-error {
	margin-left: auto;
	margin-right: auto;
}

.kr-form-error>span {
	margin-left: auto;
	margin-right: auto;
}

#payment-form {
	margin-top: 40px;
}

#header-img {
	margin-bottom: 40px;
	margin:auto;
	display: block;
}

</style>
{% endblock %}
